@model VerbsPracticeApp.Models.CorrectionModel

<div class="card @String.Format("{0}", Model.IsAnswerCorrect ? "bg-success text-white" : "bg-danger text-white")">
    <div class="card-body">@String.Format("{0}", Model.IsAnswerCorrect ? "You have " + Model.CorrectCount + " correct answer(s)!" : "Incorrect answer")</div>
</div>
<div>

    <p class="col-sm-12">
        @Html.Label(string.Empty, $"{Model.Infinitive}", htmlAttributes: new { @class = "control-label font-weight-bold" })
    </p>

    <p class="col-sm-12">
        @Html.DisplayNameFor(model => model.English)
    </p>
    <p class="col-sm-12">
        @Html.DisplayFor(model => model.English)
    </p>

    <p class="col-sm-12">
        @Html.DisplayNameFor(model => model.ImperfectumSingular)
    </p>
    <p class="col-sm-12">
        <div class="d-flex justify-content-sm-start">
            <div class="p-2">
                @Html.Label(string.Empty, $"{Model.ImperfectumSingular.Answer}", htmlAttributes: new { @class = "col-sm-6 font-weight-bold " })
            </div>
            <div class="p-2">
                @Html.Label(string.Empty, $"{Model.ImperfectumSingular.Original}", htmlAttributes: new { @class = "col-sm-6 control-label font-weight-bold " + @String.Format("{0}", Model.ImperfectumSingular.IsAnswerCorrect ? "text-success" : "text-danger") })
            </div>
        </div>
    </p>

    <p class="col-sm-12">
        @Html.DisplayNameFor(model => model.ImperfectumPlural)
    </p>
    <p class="col-sm-12">
        <div class="d-flex justify-content-sm-start">
            <div class="p-2">
                @Html.Label(string.Empty, $"{Model.ImperfectumPlural.Answer}", htmlAttributes: new { @class = "col-sm-6 font-weight-bold " })
            </div>
            <div class="p-2">
                @Html.Label(string.Empty, $"{Model.ImperfectumPlural.Original}", htmlAttributes: new { @class = "col-sm-6 control-label font-weight-bold " + @String.Format("{0}", Model.ImperfectumPlural.IsAnswerCorrect ? "text-success" : "text-danger") })
            </div>
        </div>
    </p>

    <p class="col-sm-12">
        @Html.DisplayNameFor(model => model.Perfectum)
    </p>
    @*<p class="col-sm-12">*@
    <div class="d-flex justify-content-sm-start">
        <div class="p-2">
            @Html.Label(string.Empty, $"{Model.Perfectum.Answer}", htmlAttributes: new { @class = "col-sm-6 font-weight-bold " })
        </div>
        <div class="p-2">
            @Html.Label(string.Empty, $"{Model.Perfectum.Original}", htmlAttributes: new { @class = "col-sm-6 control-label font-weight-bold " + @String.Format("{0}", Model.Perfectum.IsAnswerCorrect ? "text-success" : "text-danger") })
        </div>
    </div>
    @*</p>*@

    <p class="col-sm-12">
        <a asp-action="Index">Next verb</a>
    </p>
</div>