@model VerbModel
@{
    ViewData["Title"] = "Irregular verbs";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>

    <span class="form-group float-right">
        @Html.Label(string.Empty, $"Status:", htmlAttributes: new { @class = "control-label" })
        @Html.Label(string.Empty, $"{Model.SuccessCount}", htmlAttributes: new { @class = "text-success font-weight-bolder" })
        @Html.Label(string.Empty, $"/ {Model.TotalCount}", htmlAttributes: new { @class = "control-label font-weight-bolder" })
    </span>

    <div class="form-group">
        @Html.LabelFor(model => model.Infinitive, "Infinitive", htmlAttributes: new { @class = "control-label" })

        @Html.Label(string.Empty, Model.Infinitive, htmlAttributes: new { @class = "text-body font-weight-bold" })
    </div>
    <div class="form-group">
        @Html.Label(string.Empty, Model.English, htmlAttributes: new { @class = "control-label" })
    </div>

    <div class="form-group">
        <label asp-for="ImperfectumSingular" class="control-label"></label>
        <input asp-for="ImperfectumSingular" class="form-control " />
        <span asp-validation-for="ImperfectumSingular" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ImperfectumPlural" class="control-label"></label>
        <input asp-for="ImperfectumPlural" class="form-control" />
        <span asp-validation-for="ImperfectumPlural" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Perfectum" class="control-label"></label>
        <input asp-for="Perfectum" class="form-control" />
        <span asp-validation-for="Perfectum" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Check" class="btn btn-primary" />
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("input[type=text]").first().focus();
        });
    </script>
}